<div id="app"></div>
<html>
  <head>
    <title>Portfolio </title>
    



  </head>
  <body>
    <div class="menu-bar">
    <ul>
      <h1> Mobile app Developer </h1>
   <li><a href="#"> About</a></li>
   <li> <a href="#"> Projects </a> </li>
     <li> <a href="#"> Talks </a> </li>
   <li> <a href="#"> Blog </a> </li>
   <li> <a href="#"> Resume </a> </li>
    <li> <a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>Contact </a></li>
 </ul>
 </div>
 <div>
 
 </div>
 <div class= "Welcome">
   <h1>Welcome to Mutshidzi Naledzani </h1>
   <p>  Portfolio </p>
   <br><br>
   <p>I am a graduate from Richfield Graduate Institute of Technology. I am a mobile app developer at CodeTribe. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences. I see myself as a dependable individual and I am hard working individual who puts not hard work only but love and determination in everything I do. I like to be professional challenged while making a room for more knowledge. </p>
  <br>
   <br>
   <h1>Skills overview</h1>
  <dl>
  <dt>Frontend </dt>
  <dd>-Javascript</dd>
  <dd>-Angular</dd>
  <dd>-HTML/CSS</dd>
  <br>
  <dt>Backend</dt>
  <dd>- MySQL</dd>
     <br>
    
    <div class="menu-bar">
    <ul>
      <h1> Recent projects : Angular, Javascript,HTML,CSS and TypeScript</h1>